h1 {
  color: white;
}

h2 {
  color: purple;
}

span {
  color: white;
}

.header {
  margin: 50px auto;
  font: 13px "Myriad Pro", "Trebuchet MS", Helvetica, Arial, sans-serif;
}


.header h1 {
  padding-right: 15px;
  font-variant: small-caps;
  font-size: 52px;
}

.header h2 {
  font-size: 18px;
  color: #d480de;
}

.clear {
  clear: both;
}

p {
  margin: 10px;
}

.content {
  max-width: 940px;
  margin: 0 auto;
}

.main {
  background-color: white;

  padding: 5px 10px;
}

img {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}


body {
  background: -webkit-linear-gradient(black, grey);
  background: -o-linear-gradient(black, grey);
  background: -moz-linear-gradient(black, grey);
  background: linear-gradient(black, grey);
}

img {
  max-width: 100%;
}

.thumbnail {
  height: 150px;
  float: left;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
}

.header h1,h2 {
  -webkit-margin-after: 10px;
  -moz-margin-after: 10px;
  marin-bottom: 10px;
}

.main, .header {
  margin: 20px auto;
}

@media only screen and (min-device-width: 850px) {
  .header * {
    width: auto;
    display: inline-block;
    margin-right: 20px;
  }

  .header h1 {
    border-right: 1px solid white;
  }

  .header h2 {
    position: relative;
    top: -13px;
  }

  .left {
    width: 65%;
    margin-right: 2%;
    display: inline-block;
  }

  .right {
    width: 32%;
    display: inline-block;
    vertical-align: top;
  }
}
