h1 {
  color: white;
}

h2 {
  color: purple;
}

.header {
  font-family: "Myriad Pro", "Trebuchet MS", Helvetica, Arial, sans-serif;
}
.header h1 {
  padding-right: 15px;
  font-variant: small-caps;
  font-size: 52px;
  margin: 10px 15px 10px 0;
}
.header h2 {
  font-size: 18px;
  color: #d480de;
}
.header .content {
  margin-top: 30px;
  margin-bottom: 10px;
}

p {
  margin: 10px 0;
}

.content {
  max-width: 940px;
  margin: 0 auto;
}

.main {
  background-color: white;
  margin-bottom: 30px;
}

.left {
  padding: 15px;
}
.main ul {
  display: inline-block;
  margin: 0;
  list-style: none;
  line-height: 1.5em;
}

img {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  max-width: 100%;
}

body {
  background: black;
  margin: 0;
  min-width: 300px;
}

.thumbnail {
  height: 150px;
  display: inline-block;
}

.main .callout {
  display: flex;
  align-items: flex-start;
}

.right {
  background-color: purple;
  color: white;
  padding: 15px;
}
.right h2 {
  color: white;
}

#blog span {
  color: purple;
}

#blog article * {
  margin-left: 15px;
}
#blog article h3 {
  margin-left: 0;
}

#tweets article {
  background-color: white;
  color: black;
  padding: 5px;
  margin: 10px 0;
  border-radius: 5px;
}
#tweets article span {
  color: purple;
}

@media (min-width: 650px) {
  .header .content {
    display: flex;
    align-items: center;
  }
  .header h1 {
    border-right: 1px solid white;
  }

  .main{
    display: flex;
    align-items: stretch;
  }

  .left {
    flex-grow: 2;
    display: inline-block;
  }

  .right {
    flex-grow: 1;
    flex-basis: 40%;
    display: inline-block;
    vertical-align: top;
  }
  #tweets {
    height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 5px;
  }
  #tweets::-webkit-scrollbar {
    display: none;
  }
}

@media (min-width: 940px) {
  .main {
    border-radius: 10px 15px 15px 10px;
  }
  .right {
    border-radius: 0 10px 10px 0;
  }
}
