h1 {
  color: white;
}

h2 {
  color: purple;
}

span {
  color: white;
}

.header {
  font-family: "Myriad Pro", "Trebuchet MS", Helvetica, Arial, sans-serif;
}
.header h1 {
  padding-right: 15px;
  font-variant: small-caps;
  font-size: 52px;
  margin: 10px 15px 10px 0;
}
.header h2 {
  font-size: 18px;
  color: #d480de;
}
.main, .header {
  margin: 20px;
}
@media(min-width: 850px) {
  .header {
    display: flex;
    align-items: center;
  }

  .header h1 {
    border-right: 1px solid white;
  }
}

.clear {
  clear: both;
}

p {
  margin: 10px;
}

.content {
  max-width: 940px;
  margin: 0 auto;
}

.main {
  background-color: white;

  padding: 5px 10px;
}

img {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}


body {
  background: black;
}

img {
  max-width: 100%;
}

.thumbnail {
  height: 150px;
  float: left;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
}

@media only screen and (min-device-width: 850px) {
  .left {
    width: 65%;
    margin-right: 2%;
    display: inline-block;
  }

  .right {
    width: 32%;
    display: inline-block;
    vertical-align: top;
  }
}
